*{
  background-color: rgb(240, 139, 139);
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  display: flex;
 
  justify-content: center;
  height: 5rem;
}

h1 {
  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid rgb(160, 93, 93);
  border-radius: 6px;
  width: 30rem;
  background-color: rgb(255, 255, 255);
  
}

section {
  display: flex;
  flex-direction: column;

  border: 2px solid rgb(160, 93, 93);
  border-radius: 4px;
  
  padding: 1rem;

  list-style-type: none;

  background-color: aliceblue;

}
div {
  display: flex;
  padding-top: 0.5rem;

  border: 1px solid rgb(160, 93, 93);
  border-radius: 6px;
  padding-left: 2rem;

  align-items: center;

  height: 5rem;
}

a {
  text-decoration: none;
  color: black;
} 

li {
  padding-left: 2rem;
}